<header class="fixed inset-0 bottom-auto z-50 py-6 transition duration-700 delay-500" #header>
    <div class="container">
        <nav class="flex items-center justify-between text-white">
            <div class="flex items-center gap-8">
                <a routerLink="/">
                    <img class="h-[16px] w-[138px]" src="/assets/logo.svg" alt="logo">
                </a>
            </div>

            <ul class="max-lg:hidden flex items-center gap-6">
                <li><a class="nav-link" routerLink="/home">Home</a></li>
                <li><a class="nav-link" routerLink="/about">About</a></li>
                <li><a class="nav-link" routerLink="/faq">FAQ</a></li>
                <li><a class="nav-link" routerLink="/contact">Contact Us</a></li>
            </ul>

            <ul class="max-lg:hidden flex items-center gap-3" *ngIf="!user">
                <li><a class="btn btn-ghost py-2" routerLink="/login">Login</a></li>
                <li><a class="btn py-2" routerLink="/register">Sign Up</a></li>
            </ul>
            <ul class="max-lg:hidden flex items-center gap-3" *ngIf="user">
                <li><a class="btn py-2" routerLink="/booking/new">Book Now</a></li>
                <li class="relative group">
                    <a class="btn btn-ghost py-2" routerLink="/dashboard">
                        Profile
                    </a>
                </li>
            </ul>

            <button class="lg:hidden scale-125" (click)="toggleMenu()">
                <i class="ai-three-line-horizontal"></i>
            </button>
        </nav>
    </div>
</header>

<div class="lg:hidden text-almost-black fixed top-0 right-0 z-[51] h-full px-12 py-16 transition-transform bg-white"
    [class.translate-x-full]="!showMenu">
    <button class="top-6 right-6 absolute scale-125" (click)="toggleMenu()">
        <i class="ai-cross"></i>
    </button>

    <ul class="grid gap-6">
        <li><a class="nav-link" routerLink="/home">Home</a></li>
        <li><a class="nav-link" routerLink="/about">About</a></li>
        <li><a class="nav-link" routerLink="/contact">Contact Us</a></li>
        <li><a class="btn py-2.5 ml-2" [routerLink]="'/login'">Login</a></li>
    </ul>
</div>