.hide {
    transform: translateY(-100%);
}

.nav-link {
    background-image: linear-gradient(to right, #e24141, #e24141);
    background-repeat: no-repeat;
    background-size: 0 2px;
    background-position: 50% 100%;

    padding-bottom: 3px;
    transition: background-size 0.3s ease-in-out;
}

.nav-link:hover {
    background-size: 100% 2px;
}
