<div class="container py-12">
    <!-- Title -->
    <h1 class="text-h3 mb-8">History</h1>

    <div [ngSwitch]="!!bookings.length">
        <div *ngSwitchCase="true">
            <ul class="grid grid-cols-3 gap-8">
                <li class="group" *ngFor="let booking of bookings">
                    <div class="relative h-full px-4 py-4 bg-gray-800 rounded">
                        <h2 class="text-h5 font-medium max-w-[17ch]">{{booking.customer_type?.name}}</h2>

                        <p class="mt-0.5 mb-2 text-sm">
                            <span
                                class="text-bright-red-300 rounded-3xl px-2 border border-current">{{booking.customer_type}}</span>
                        </p>

                        <p>
                            <i class="ai-clock text-h6"></i>
                            {{booking.date_booked | formatDate: 'date'}} <span
                                class="text-gray-400">{{booking.time_booked
                                | formatDate:
                                'time'}}</span>
                        </p>

                        <p>
                            <i class="ai-watch-device"></i>
                            {{booking.duration_in_minutes + 'hr' + (booking.duration_in_minutes <= 1 ? '.' : 's.' )}}
                                </p>
                                <p>
                                    <i class="ai-money text-h6"></i>
                                    {{booking.transaction.amount | currency}}
                                </p>


                                <button
                                    class="opacity-0 text-bright-red-500 absolute top-4 right-4 py-1.5 px-2.5 rounded-full transition group-hover:opacity-100 hover:bg-gray-600"
                                    (click)="deleteBooking(booking)"><i class="ai-trash-can text-h6"></i></button>
                    </div>
                </li>
            </ul>
        </div>
        <div *ngSwitchDefault>
            <div class="py-16 text-center">
                <h2 class="text-h4 mb-4">No Bookings Yet</h2>

                <p class="max-w-prose mx-auto mb-6">
                    Bookings will appear here once a session is complete. You also can mark sessions as complete from
                    the
                    list.
                </p>

                <a class="btn" routerLink="/dashboard/bookings">View Active Bookings</a>
            </div>
        </div>
    </div>
</div>