<div class="">
    <h1>Log into your account</h1>

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
        <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" formControlName="email">

            <div class="feedback" *ngIf="(loginForm.dirty) && loginForm.controls['email'].invalid">
                <span *ngIf="loginForm.controls['email'].hasError('required')">Please provide an email address</span>
                <span *ngIf="loginForm.controls['email'].hasError('email')">Email must be a valid email address</span>
            </div>
        </div>

        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" formControlName="password">

            <div class="feedback" *ngIf="(loginForm.dirty) && loginForm.controls['password'].invalid">
                <span *ngIf="loginForm.controls['password'].hasError('required')">Please provide an password</span>
            </div>
        </div>
        <p><a href="">Forgot your password?</a></p>

        <button type="submit" class="btn">Login</button>

        <p><a href="">Create an account</a></p>
    </form>
</div>