<div class="">
    <h1>Log into your account</h1>

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onSubmit()">
        <div class="form-control">
            <label class="label" for="email">Email</label>
            <input class="input" type="email" name="email" id="email" formControlName="email">

            <div class="feedback">
                <span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.hasError('async')">
                    {{loginForm.get('email')?.errors!['async']}}
                </span>
            </div>
        </div>

        <div class="form-control">
            <label class="label" for="password">Password</label>
            <input class="input" type="password" name="password" id="password" formControlName="password">

            <div class="feedback">
                <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.hasError('async')">
                    {{loginForm.get('password')?.errors!['async']}}
                </span>
            </div>
        </div>
        <p><a href="">Forgot your password?</a></p>

        <button type="submit" class="btn">Login</button>

        <p><a href="">Create an account</a></p>
    </form>
</div>