<main-dashboard-layout title="My Profile">
    <section class="mb-24">
        <h2 class="text-h5 mb-6">General Information</h2>

        <form [formGroup]="infoForm" (ngSubmit)="infoForm.valid && onInfoFormSubmit()">
            <div class="form-control required">
                <label class="label" for="name">Name</label>
                <input class="input" type="text" name="name" id="name" formControlName="name">

                <div class="feedback">
                    <span *ngIf="infoForm.get('name')?.invalid && infoForm.get('name')?.hasError('async')">
                        {{infoForm.get('name')?.errors!['async']}}
                    </span>
                </div>
            </div>

            <div class="form-control required">
                <label class="label" for="email">Email Address</label>
                <input class="input" type="email" name="email" id="email" formControlName="email">

                <div class="feedback">
                    <span *ngIf="infoForm.get('email')?.invalid && infoForm.get('email')?.hasError('async')">
                        {{infoForm.get('email')?.errors!['async']}}
                    </span>
                </div>
            </div>

            <button class="btn" type="submit">Save</button>
        </form>
    </section>

    <section class="mb-24">
        <h2 class="text-h5 mb-6">Update Your Password</h2>

        <form [formGroup]="passwordForm" (ngSubmit)="passwordForm.valid && onPasswordFormSubmit()" #formPass="ngForm">

            <div class="form-control required">
                <label class="label" for="currentPassword">Current Password</label>
                <input class="input" type="password" name="currentPassword" id="currentPassword"
                    formControlName="currentPassword">

                <div class="feedback">
                    <span
                        *ngIf="passwordForm.get('currentPassword')?.invalid && passwordForm.get('currentPassword')?.hasError('async')">
                        {{passwordForm.get('currentPassword')?.errors!['async']}}
                    </span>
                </div>
            </div>
            <div class="form-control required">
                <label class="label" for="password">New Password</label>
                <input class="input" type="password" name="password" id="password" formControlName="password">

                <div class="feedback">
                    <span
                        *ngIf="passwordForm.get('password')?.invalid && passwordForm.get('password')?.hasError('async')">
                        {{passwordForm.get('password')?.errors!['async']}}
                    </span>
                </div>
            </div>
            <div class="form-control required">
                <label class="label" for="confirm">Confirm Password</label>
                <input class="input" type="password" name="confirm" id="confirm" formControlName="confirm">

                <div class="feedback">
                    <span
                        *ngIf="passwordForm.get('confirm')?.invalid && passwordForm.get('confirm')?.hasError('async')">
                        {{passwordForm.get('confirm')?.errors!['async']}}
                    </span>
                </div>
            </div>

            <button class="btn" type="submit">Save</button>
        </form>
    </section>

    <section class="mb-24">
        <h2 class="text-h5 mb-8">Danger Zone</h2>

        <div class="flex justify-between">
            <h3>Delete your account</h3>
            <button class="btn mr-12" (click)="confirmAccountDelete()">Delete Account</button>
        </div>
    </section>
</main-dashboard-layout>