<app-header></app-header>

<main class="min-h-screen flex items-center justify-center py-24">

    <div class="bg-gray-900 rounded-lg py-8 px-12 shadow w-full max-w-xl">


        <div class="text-center mb-6">
            <h2 class="text-h2 mb-2">Finish Signing Up</h2>
            <p>Almost there!We just need a few more details from your side.</p>
        </div>

        <form [formGroup]="infoForm" (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-control max-w-full">
                <label class="label" for="name">Name</label>
                <input class="input" type="text" name="name" id="name" formControlName="name" required />

                <div class="feedback">
                    <base-error *ngIf="errors.name">
                        {{errors.name}}
                    </base-error>
                </div>
            </div>

            <div class="form-control max-w-full">
                <label class="label" for="contact_num">Contact Number</label>
                <input class="input" type="text" name="contact_num" id="contact_num" formControlName="contact_num"
                    required mask="000-000-0000" />

                <div class="feedback">
                    <base-error *ngIf="errors.contact_num">
                        {{errors.contact_num}}
                    </base-error>
                </div>
            </div>

            <div class="form-actions">
                <button class="btn btn-primary w-full" [disabled]="formStatus === 'loading'">
                    <app-status-indicator [status]="formStatus"></app-status-indicator>
                    Save
                </button>

                <p class="mt-4"><a class="text-bright-red-300 hover:underline" routerLink="/login">
                        Back to Login</a></p>
            </div>
        </form>

    </div>
</main>

<app-footer></app-footer>