<h1 class="text-h2 mb-20">My Bookings</h1>

<div>
    <div class="flex items-center gap-4">
        <h2 class="text-h5 mb-0">June 2024</h2>
        <hr class="border-bright-red-500 grow border">
    </div>

    <ul class="flex flex-col gap-4 mt-6">
        <li class="py-3 px-6 rounded bg-gray-600/15 flex items-center">
            <div class="flex flex-col gap-2">
                <span> Band</span>
                <p class="text-h5 font-semibold"><i class="ai-calendar"></i> {{'Tuesday, June 2'}}</p>
                <p><i class="ai-clock"></i> {{'10:00am - 11:00am'}}</p>
                <span class="badge w-fit">Pending</span>
            </div>
        </li>
    </ul>
</div>