<app-header></app-header>

<main class="min-h-screen py-28">
    <div class="container">
        <nav class="text-lg mb-10 border-b border-white/10 flex items-center justify-between">
            <ul class="flex items-center gap-8">
                <li><a class="nav-link pb-1.5" routerLink="bookings" routerLinkActive="active">My Bookings</a></li>
                <li><a class="nav-link pb-1.5" routerLink="profile" routerLinkActive="active">My Account</a></li>
            </ul>

            <button (click)="logout()">Logout <i class="ai-door"></i></button>
        </nav>

        <router-outlet></router-outlet>
    </div>
</main>

<app-footer></app-footer>