<app-header [hideOnScroll]="true"></app-header>

<main class="py-32">
    <div class="container">
        <h1 class="text-h3 mb-2 font-semibold">Our Terms & Conditions</h1>
        <p class="text-gray-400 mb-8 text-sm"><strong>Effective Date:</strong> May 01, 2024</p>

        <p class="mb-6 text-balance leading-relaxed">These Terms and Conditions ("Terms") govern your access to and use
            of the Bawlplatt Studios online booking system (the "System"). By accessing or using the System, you agree
            to be bound by these Terms.</p>

        <section class="py-10">
            <h2 class="text-h5 font-semibold mb-6">1. Use of the System</h2>
            <ul class="space-y-4 list-disc ps-8">
                <li>You must be at least 18 years old to use the System.</li>
                <li>You are responsible for maintaining the confidentiality of your account information and password and
                    for
                    restricting access to your computer.</li>
                <li>You agree to be responsible for all activities that occur under your account or password.</li>
                <li>You agree not to use the System for any unlawful purpose or in any way that violates these Terms.
                </li>
            </ul>
        </section>

        <section class="py-10">
            <h2 class="text-h5 font-semibold mb-6">2. Booking and Payment</h2>
            <ul class="space-y-4 list-disc ps-8">
                <li>You can book studio sessions through the System subject to availability.</li>
                <li>Prices for studio sessions are listed on the System and may change from time to time.</li>
                <li>Payment for studio sessions must be made in full at the time of booking using a secure payment
                    method
                    offered through the System.</li>
                <li>We do not store your payment information directly. Payment processing is handled securely by a
                    third-party
                    payment gateway.</li>
                <li>You are responsible for any taxes or fees associated with your booking.</li>
            </ul>
        </section>

        <section class="py-10">
            <h2 class="text-h5 font-semibold mb-6">3. Cancellation Policy</h2>
            <ul class="space-y-4 list-disc ps-8">
                <li>Cancellations made 2 or more days before your booked session will receive a full refund.</li>
                <li>Cancellations made within 2 days of your booked session will not be refunded.</li>
                <li>We reserve the right to cancel your booking at any time due to unforeseen circumstances. In such
                    cases,
                    we
                    will provide you with a full refund.</li>
            </ul>
        </section>

        <section class="py-10">
            <h2 class="text-h5 font-semibold mb-6">4. User Content</h2>
            <p class="text-pretty mb-4 leading-relaxed">You are responsible for any content you post, upload, or
                transmit through the System ("User Content").
            </p>
            <p class="text-pretty mb-4 leading-relaxed">You agree not to post any User Content that is illegal,
                defamatory, obscene, threatening, or violates the
                rights
                of others.</p>
        </section>

        <section class="py-10">
            <h2 class="text-h5 font-semibold mb-6">5. Disclaimer</h2>
            <p class="text-pretty mb-4 leading-relaxed">The System and all information, content, and materials provided
                through the System are provided "as is"
                and
                without warranties of any kind, express or implied. Bawlplatt Studios disclaims all warranties, express
                or
                implied, including, but not limited to, warranties of merchantability, fitness for a particular purpose,
                and
                non-infringement. Bawlplatt Studios does not warrant that the System will be uninterrupted or
                error-free,
                that
                defects will be corrected, or that the System or the server that makes it available are free of viruses
                or
                other
                harmful components.</p>
        </section>

        <section class="py-10">
            <h2 class="text-h5 font-semibold mb-6">6. Limitation of Liability</h2>
            <p class="text-pretty mb-4 leading-relaxed">Bawlplatt Studios shall not be liable for any damages arising
                out of or related to your use of the
                System,
                including, but not limited to, direct, indirect, incidental, consequential, punitive, or special
                damages.
            </p>
        </section>

        <section class="py-10">
            <h2 class="text-h5 font-semibold mb-6">7. Termination</h2>
            <p class="text-pretty mb-4 leading-relaxed">We may terminate your access to the System at any time, for any
                reason, without notice.</p>
        </section>
        <section class="py-10">

            <h2 class="text-h5 font-semibold mb-6">8. Entire Agreement</h2>

            <p class="text-pretty mb-4 leading-relaxed">These Terms constitute the entire agreement between you and
                Bawlplatt Studios with respect to your use of
                the
                System and supersede all prior or contemporaneous communications and proposals, whether oral or written.
            </p>
        </section>

        <section class="py-10">
            <h2 class="text-h5 font-semibold mb-6">9. Severability</h2>
            <p class="text-pretty mb-4 leading-relaxed">If any provision of these Terms is held to be invalid or
                unenforceable, such provision shall be struck
                and
                the
                remaining provisions shall remain in full force and effect.</p>
        </section>

        <section class="py-10">
            <h2 class="text-h5 font-semibold mb-6">10. Contact Us</h2>
            <p class="text-pretty mb-4 leading-relaxed">If you have any questions about these Terms, please contact us
                at <a class="text-bright-red-500 hover:underline"
                    href="mailto:bawlplatt@studios.com">bawlplatt@studios.com</a> or <br />
                <a class="text-bright-red-500 hover:underline" href="tel:8761234567">(876) 123-4567</a>.
            </p>
        </section>

        <p class="text-pretty mb-4 leading-relaxed"><strong>By using the Bawlplatt Studios Booking System, you
                acknowledge that you have read, understood, and
                agree to
                be
                bound by these Terms.</strong>
        </p>
    </div>
</main>

<app-footer></app-footer>