<app-header></app-header>

<div class="min-h-screen">
    <div class="py-36 container">
        <div class="grid lg:grid-cols-2">
            <div>
                <h1 class="text-h1 mb-8">Contact Us</h1>

                <ul class="space-y-3 mb-8">
                    <li class="flex gap-4 items-baseline">
                        <i class="text-h5 ai-location"></i>
                        <span>Shop 113 Courtney Walsh Drive, Kingston</span>
                    </li>
                    <li class="flex gap-4 items-baseline">
                        <i class="text-h5 ai-clock"></i>
                        <span>8:00 am - 8:00 pm</span>
                    </li>
                    <li class="flex gap-4 items-baseline">
                        <i class="text-h5 ai-envelope"></i>
                        <span>bawlplatt@studios.com</span>
                    </li>
                    <li class="flex gap-4 items-baseline">
                        <i class="text-h5 ai-phone"></i>
                        <span>(876) 123-4567</span>
                    </li>
                </ul>

                <ul class="text-h3 flex gap-4">
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <i class="ai-youtube-fill"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="ai-facebook-fill"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="ai-instagram-fill"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.com" target="_blank">
                            <i class="ai-pinterest-fill"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <iframe class="w-full h-full bg-zinc-900" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=-76.80522680282594%2C18.01106964847402%2C-76.79325342178346%2C18.01759950425473&amp;layer=mapnik&amp;marker=18.0143346066154%2C-76.79924011230469">
            </iframe>
        </div>
    </div>
</div>

<app-footer></app-footer>