<app-header></app-header>

<div
    class="min-h-screen bg-[url('https://cdn.discordapp.com/attachments/917063897889009744/1015841084267577424/5-51197_wallpaper-wiki-music-note-photo-free-download-music.png')] bg-no-repeat bg-cover">
    <div class="place-items-center grid h-screen">
        <div class="w-full max-w-xl p-16 text-center bg-gray-800 rounded-lg">
            <h1 class="text-h2 mb-6 leading-tight">Page Not Found</h1>

            <p class="mb-8">Sorry but the page you were looking for doesn't seem to exist.</p>

            <a routerLink="/home" class="btn">Back to homepage</a>
        </div>
    </div>
</div>

<app-footer></app-footer>