<app-header></app-header>

<main class="flex items-center justify-center min-h-screen">
    <div class="w-full max-w-xl px-12 py-8 bg-gray-900 rounded-lg shadow">
        <ng-container *ngIf="formMode === 'forgot'">
            <div class="mb-8 text-center">
                <h2 class="text-h2 mb-4">Forgot Password</h2>
                <p>Enter your email address and we'll send you an email with instructions to reset your password.</p>
            </div>

            <form class="mx-auto max-w-md" [formGroup]="forgotForm" (ngSubmit)="sendForgotPasswordEmail()"
                #form="ngForm">
                <div class="form-control max-w-full">
                    <label class="label" for="email">Email</label>
                    <input class="input" type="email" name="email" id="email" formControlName="email" required />

                    <div class="feedback">
                        <base-error *ngIf="forgotErrors.email">
                            {{forgotErrors.email}}
                        </base-error>
                    </div>
                </div>

                <div class="form-actions mt-10">
                    <button class="btn btn-primary w-full" [disabled]="formStatus === 'loading'">
                        <app-status-indicator [status]="formStatus" />
                        <span>Continue</span>
                    </button>

                    <p class="mt-2 text-center text-gray-300"><a class="text-bright-red-300 hover:underline"
                            routerLink="/login">Back to Login</a></p>
                </div>
            </form>
        </ng-container>

        <ng-container *ngIf="formMode === 'sent'">
            <div class="mb-8 text-center">
                <h2 class="text-h2 mb-4">Check Your Email</h2>
                <p class="text-gray-300">We've sent a link to your email. Please check your inbox for a password
                    reset link.</p>
            </div>

            <button class="btn btn-primary w-full" routerLink="/">Okay</button>
        </ng-container>

        <ng-container *ngIf="formMode === 'reset'">
            <div class="mb-8 text-center">
                <h2 class="text-h2 mb-4">Reset Your Password</h2>
                <p class="text-gray-300">Enter your new password.</p>
            </div>

            <form class="mx-auto max-w-md" [formGroup]="resetForm" class="" (ngSubmit)="resetPassword()">
                <div class="form-control max-w-full">
                    <label class="label" for="password">Password</label>
                    <input class="input" type="password" name="password" id="password" required
                        formControlName="password" passwordToggle />

                    <div class="feedback">
                        <base-error *ngIf="resetErrors.password">
                            {{resetErrors.password}}
                        </base-error>
                    </div>
                </div>

                <div class="form-control max-w-full">
                    <label class="label" for="confirmPassword">Confirm Password</label>
                    <input class="input" type="password" name="confirmPassword" id="confirmPassword" required
                        formControlName="confirmPassword" passwordToggle confirmPasswordValidator="password" />

                    <div class="feedback">
                        <base-error *ngIf="resetErrors.confirmPassword">
                            {{resetErrors.confirmPassword}}
                        </base-error>
                    </div>
                </div>

                <div class="mt-10 space-y-4">
                    <button class="btn btn-primary w-full" type="submit" [disabled]="formStatus === 'loading'">
                        <app-status-indicator [status]="formStatus"></app-status-indicator>
                        Reset Password
                    </button>
                    <p class="text-center"><button type="button" (click)="back()">Back</button></p>
                </div>
            </form>
        </ng-container>

        <ng-container *ngIf="formMode === 'error'">
            <div class="mb-8 text-center">
                <h2 class="text-h2 mb-4">Something went wrong</h2>
                <p class="text-gray-300">Looks like this link has expired or is no longer valid.</p>
            </div>

            <button class="btn btn-primary w-full" (click)="back()">Try Again</button>
        </ng-container>
    </div>
</main>

<app-footer></app-footer>