<div class="container py-12">
    <!-- Title -->
    <div class="flex items-center justify-between mb-4">
        <h1 class="text-h3">Bookings</h1>

        <button class="btn" routerLink="new"><i class="text-h6 ai-plus"></i> Create a booking</button>
    </div>

    <!-- Filtering -->
    <div class="flex items-center gap-4 mb-8">
        <form class="relative w-full" (ngSubmit)="search()">
            <input class="peer text-almost-black w-full px-6 py-2 border-0 rounded" type="text" name="search"
                id="search" placeholder="Search bookings" [(ngModel)]="searchQuery">
            <button type="submit"
                class="peer-focus-visible:opacity-100 text-almost-black text-h6 top-1/2 right-6 absolute transition-opacity -translate-y-1/2 opacity-75">
                <i class="ai-search"></i>
            </button>
        </form>

        <span>
            <select class="text-almost-black px-4 py-2 border-0 rounded" name="filter" id="filter"
                [(ngModel)]="selectedFilter" (ngModelChange)="filterList()">
                <option value="" selected disabled hidden>Filter By</option>
                <option value="none">None</option>
                <option value="customer_type=artist">Artist</option>
                <option value="customer_type=band">Band</option>
                <option value="payed=true">Paid</option>
                <option value="payed=false">Not Yet Paid</option>
            </select>
        </span>
    </div>

    <div class="grid grid-rows-[minmax(25rem,_100%),_max-content] gap-8"
        *ngIf="bookings.length && !loading; else notFound">
        <div>
            <!-- Table -->
            <div class="item-list__table px-4 mb-2">
                <span></span>
                <span>Customer</span>
                <span>Booked For</span>
                <span>Duration</span>
                <span>Cost</span>
                <span>Booked On</span>
                <span>Paid</span>
                <span></span>
            </div>
            <ul class="space-y-4">
                <li class="px-4 py-3 transition-all bg-gray-800 rounded"
                    *ngFor="let booking of bookings; let i = index;">
                    <div class="item-list__table text-white">
                        <div class="px-2">
                            <button class=" transition" [class.rotate-180]="selectedListItem === i"
                                (click)="toggleItemDetails(i)">
                                <i class="text-h5 ai-chevron-down"></i>
                            </button>
                        </div>

                        <div>
                            <h2 class="text-h6 capitalize" [title]="(booking.artist?.name || booking.band?.group_name)">
                                {{(booking.artist?.name || booking.band?.group_name)}}
                            </h2>
                            <span class="text-bright-red-500">{{booking.customer_type}}</span>
                        </div>
                        <div>
                            <p class="mb-1">{{booking.start_date | formatDate:'date'}}</p>
                            <p class="text-gray-400">{{booking.start_date | formatDate:'time'}}</p>
                        </div>
                        <div>
                            <p>{{booking.duration + 'hr' + (booking.duration <= 1 ? '.' : 's.' )}}</p>
                        </div>
                        <div>
                            <p>{{booking.cost | currency}}</p>
                        </div>
                        <div>
                            <p class="mb-1">{{booking.booked_at | formatDate:'date'}}</p>
                            <p class="text-gray-400">{{booking.booked_at | formatDate:'time'}}</p>
                        </div>
                        <div>
                            <i class="ai-cross text-h5 text-red-500" *ngIf="!booking.payed; else payed"></i>
                            <ng-template #payed>
                                <div class="group flex gap-2">
                                    <i class="ai-check text-h5 text-green-500"></i>
                                    <img class="group-hover:opacity-100 aspect-square object-cover h-8 transition-opacity rounded-full opacity-0"
                                        [title]="'Approved by: ' + booking.approved_by.name"
                                        [src]="booking.approved_by.photo" [alt]="booking.approved_by.name"
                                        *ngIf="booking.approved_by">
                                </div>
                            </ng-template>
                        </div>


                        <div class="">
                            <div class="group w-max relative ml-12 text-left">
                                <button class="text-h5"><i class="ai-more-vertical-fill"></i></button>
                                <ul
                                    class="group-hover:block text-left absolute bottom-full right-0 z-10 hidden min-w-[10rem] w-max bg-gray-900 rounded space-y-0.5 p-1">
                                    <li>
                                        <button
                                            class="hover:bg-almost-black transition inline-flex items-center w-full gap-3 px-4 py-3 bg-opacity-50 rounded"
                                            (click)="toggleBookingValue(booking._id, 'completed')">
                                            <i class="ai-check-box"></i>
                                            Mark as complete
                                        </button>
                                    </li>
                                    <li *ngIf="!booking.payed">
                                        <button
                                            class="hover:bg-almost-black transition inline-flex items-center w-full gap-3 px-4 py-3 bg-opacity-50 rounded"
                                            (click)="toggleBookingValue(booking._id, 'payed')">
                                            <i class="ai-money"></i>
                                            Mark as paid
                                        </button>
                                    </li>
                                    <li>
                                        <button
                                            class="hover:bg-almost-black transition inline-flex items-center w-full gap-3 px-4 py-3 bg-opacity-50 rounded"
                                            [routerLink]="['edit',booking._id]">
                                            <i class="ai-edit text-base"></i>
                                            <span>Edit</span>
                                        </button>
                                    </li>
                                    <li>
                                        <button
                                            class="hover:bg-almost-black transition inline-flex items-center w-full gap-3 px-4 py-3 bg-opacity-50 rounded"
                                            (click)="deleteBooking(booking._id)">
                                            <i class="ai-trash-can text-base"></i>
                                            <span>Delete</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="item-list__table overflow-hidden transition-all duration-300"
                        [ngClass]="{'max-h-0 pt-0':selectedListItem !== i, 'max-h-40 pt-4':selectedListItem === i}">
                        <div></div>
                        <div>
                            <h4 class="underline-offset-4 mb-4 text-sm underline">Contact Information</h4>

                            <div class="space-y-1" *ngIf="!!booking.artist">
                                <p><i class="ai-envelope"></i> {{booking.artist.email}}</p>
                                <p><i class="ai-phone"></i> {{booking.artist.contact_num | formatContactNum}}</p>
                            </div>

                            <div class="space-y-1" *ngIf="!!booking.band">
                                <p><i class="ai-people-group"></i> {{booking.band.group_size | number}} members</p>
                                <p><i class="ai-person"></i> {{booking.band.lead_name}}</p>
                                <p><i class="ai-envelope"></i> {{booking.band.lead_email}}</p>
                                <p><i class="ai-phone"></i> {{booking.band.lead_contact_num | formatContactNum}}</p>
                            </div>
                        </div>

                        <div class="col-span-4">
                            <h4 class="underline-offset-4 mb-4 text-sm underline">Additional Information</h4>
                            <div class=" space-y-1">
                                <p><i class="ai-music-note"></i> {{booking.num_of_instruments | number}} instruments</p>
                                <p class="max-w-prose" *ngIf="booking.message">{{booking.message}}</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Pagination -->
        <div class="flex items-center justify-center gap-4">
            <button class="rounded-full py-0.5 px-1.5 hover:bg-gray-800 bg-opacity-50" (click)="changePage(-1)"
                [class.invisible]="page <= 1">
                <i class="ai-arrow-left"></i>
            </button>
            <p>Page {{page}} of {{totalPages}}</p>
            <button class="rounded-full py-0.5 px-1.5 hover:bg-gray-800 bg-opacity-50" (click)="changePage(1)"
                [class.invisible]="page >= totalPages">
                <i class="ai-arrow-right"></i>
            </button>
        </div>
    </div>

    <!-- No Bookings Found -->
    <ng-template #notFound>
        <div [ngSwitch]="loading">
            <div *ngSwitchCase="true">
                <div class="place-items-center h-80 grid">
                    <div style="border-top-color:transparent"
                        class="aspect-square border-bright-red-400 animate-spin w-20 border-4 border-dashed rounded-full">
                    </div>
                </div>
            </div>

            <div class="py-12 text-center" *ngSwitchDefault>
                <h2 class="text-h4 mb-6">No Bookings Found</h2>

                <div [ngSwitch]="isSearching">
                    <div *ngSwitchCase="true">
                        <p class="max-w-prose mx-auto">No bookings for that search term were found. Try searching by a
                            different name.</p>
                    </div>
                    <div *ngSwitchDefault>
                        <p class="max-w-prose mx-auto mb-4">Bookings will appear here once a customer books a session,
                            or
                            you can try adding one yourself.
                        </p>

                        <a class="btn" routerLink="new">Create</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>