<div>
    <h1>{{ action | titlecase }} A Booking</h1>
    <!-- Add accordion style form -->

    <!-- Customer Type Form -->
    <section>
        <h1>Customer Type</h1>

        <form [formGroup]="customerTypeForm" (ngSubmit)="customerTypeForm.valid && onCustomerTypeFormSubmit()">
            <fieldset>
                <legend>Who are you booking for?</legend>

                <label for="customer_type-artist">
                    <input type="radio" name="customer_type" id="customer_type-artist" value="artist"
                        formControlName="customer_type">
                    <span>An artist</span>
                </label>
                <label for="customer_type-band">
                    <input type="radio" name="customer_type" id="customer_type-band" value="band"
                        formControlName="customer_type">
                    <span>A band</span>
                </label>
            </fieldset>

            <button type="submit" [disabled]="customerTypeForm.invalid">Next</button>
        </form>
    </section>

    <section *ngIf="artistForm.enabled || bandForm.enabled">
        <h1>Customer Information</h1>

        <!-- Artist Form -->
        <form [formGroup]="artistForm" *ngIf="artistForm.enabled"
            (ngSubmit)="artistForm.valid && onCustomerInfoFormSubmit()">
            <div class="form-control">
                <label for="artist_name">Artist Name</label>
                <input type="text" name="artist_name" id="artist_name" formControlName="name">
            </div>

            <div class="form-control">
                <label for="artist_email">Artist Email</label>
                <input type="email" name="artist_email" id="artist_email" formControlName="email">
            </div>

            <div class="form-control">
                <label for="artist_contact_num">Artist Contact #</label>
                <input type="tel" name="artist_contact_num" id="artist_contact_num" formControlName="contact_num">
            </div>

            <button type="submit" [disabled]="artistForm.invalid">Next</button>
        </form>

        <!-- Band Form -->
        <form [formGroup]="bandForm" *ngIf="bandForm.enabled" (ngSubmit)="bandForm && onCustomerInfoFormSubmit()">
            <div class="form-control">
                <label for="group_name">Group Name</label>
                <input type="text" name="group_name" id="group_name" formControlName="group_name">
            </div>

            <div class="form-control">
                <label for="group_size">Group Size</label>
                <input type="number" name="group_size" id="group_size" formControlName="group_size">
            </div>

            <div class="form-control">
                <label for="lead_name">Lead Name</label>
                <input type="text" name="lead_name" id="lead_name" formControlName="lead_name">
            </div>

            <div class="form-control">
                <label for="lead_email">Lead Email</label>
                <input type="email" name="lead_email" id="lead_email" formControlName="lead_email">
            </div>

            <div class="form-control">
                <label for="lead_contact_num">Lead Contact #</label>
                <input type="tel" name="lead_contact_num" id="lead_contact_num" formControlName="lead_contact_num">
            </div>

            <button type="submit" [disabled]="bandForm.invalid">Next</button>
        </form>
    </section>

    <!-- Session Form -->
    <section *ngIf="sessionForm.enabled">
        <h1>Session Information</h1>

        <form [formGroup]="sessionForm" (ngSubmit)="bookingForm.valid && onSessionFormSubmit()">
            <div class="form-control">
                <label for="num_of_instruments">Number of Instruments Required</label>
                <input type="number" name="num_of_instruments" id="num_of_instruments"
                    formControlName="num_of_instruments">
            </div>

            <div class="form-control">
                <label for="start_date">Date of Session</label>
                <input type="date" name="start_date" id="start_date" formControlName="start_date">
            </div>

            <div class="form-control">
                <label for="start_date-time">Time of Session</label>
                <input type="time" name="start_time" id="start_date-time" formControlName="start_time" #time>
            </div>

            <div>
                <fieldset>
                    <legend>Duration</legend>

                    <label for="duration-1hr">
                        <input type="radio" name="duration" id="duration-1hr" [value]="1" formControlName="duration">
                        <span>1 hr.</span>
                    </label>
                    <label for="duration-2hrs">
                        <input type="radio" name="duration" id="duration-2hrs" [value]="2" formControlName="duration">
                        <span>2 hrs.</span>
                    </label>
                    <label for="duration-3hrs">
                        <input type="radio" name="duration" id="duration-3hrs" [value]="3" formControlName="duration">
                        <span>3 hrs.</span>
                    </label>
                    <label for="duration-4hrs">
                        <input type="radio" name="duration" id="duration-4hrs" [value]="4" formControlName="duration">
                        <span>4 hrs.</span>
                    </label>
                </fieldset>
            </div>


            <div>
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="5" formControlName="message"></textarea>
            </div>

            <button type="button" routerLink="/dashboard/bookings">Cancel</button>
            <button type="submit" [disabled]="bookingForm.invalid">Finish</button>
        </form>
    </section>
</div>