<app-header></app-header>

<div class="min-h-screen">
    <div class="relative h-52 w-full bg-[url('/assets/images/about-banner.jpg')] bg-no-repeat bg-cover bg-center">
        <div class="h-20 absolute inset-0 top-auto bg-gradient-to-b from-[#0a080800] to-almost-black"></div>
    </div>

    <div class="container py-12">
        <section class="">
            <h1 class="text-h1 mb-12 text-center">
                <span class="border-bright-red-600 inline-block px-12 border-b-4">About Us</span>
            </h1>

            <div class="max-w-prose mx-auto">
                <div class="mb-16 space-y-6">

                    <p>
                        Located in Jamaica, Bawlplatt Studios is a fast growing music recording studios that offers a
                        space for musicians and bands to practice their music before their shows or gigs. In addition,
                        we provides the lastest equipment for the bands to mix their music, and preview their sessions.
                    </p>

                    <p>
                        Since our launch in December of 2002, we have made it our mission to improve the quality of
                        music in Jamaica. Our founder (Liam Hands-Green) is verse in the musical arts himself, and has
                        always had a passion for it. "Music is the soundtrack to life" is what he always says.
                    </p>
                    <p>
                        Since then, we have hosted over 20 successful musicians and bands. Bawlplatt has been slowly
                        rising to the number one spot of 'Top Recording Studios' in Jamaica.
                    </p>

                    <figure>
                        <img class="" src="/assets/images/about-pic-1.jpg" alt="Our lead producer mixing some music">
                        <figcaption class="mt-1 text-sm text-center">Tuning the latest sounds with our lead producer
                        </figcaption>
                    </figure>
                </div>

                <div class="mb-8 space-y-6">
                    <p>
                        Currently, the studio can only host one band per session. This may change as we have hopes of
                        expaning in the future. In addition, a session must be booked before hand, that is, it cannot be
                        booked on the same day as the session, and the session cannot be booked for more than 4 hours.
                    </p>

                    <figure>
                        <img src="/assets/images/about-pic-2.jpg" alt="One of our recording engineers">
                        <figcaption class="mt-1 text-sm text-center">One of our recording engineers getting the volume
                            just right
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>

        <section class="py-32">
            <h1 class="text-h2 mb-12 text-center">The Team</h1>

            <div class="grid grid-cols-3 gap-16">
                <div class="text-center" *ngFor="let owner of owners">
                    <img class="aspect-square inline-block h-48 mb-2 rounded" [src]="owner.img" [alt]="owner.name">
                    <h2 class="text-h6 font-medium">{{owner.name}}</h2>
                    <p>{{owner.position}}</p>
                </div>
            </div>
        </section>
    </div>
</div>

<app-footer></app-footer>