<app-header></app-header>

<div class="min-h-screen bg-[url('/assets/images/login-bg.png')] bg-no-repeat bg-cover">
    <div class="place-items-center grid h-screen">
        <div class="w-full max-w-lg px-20 py-16 mt-4 text-center bg-gray-700 rounded-lg">
            <div class="" *ngIf="!showConfirmation">

                <div class="mb-8">
                    <h1 class="text-h3 mb-4 leading-tight">Forgot your password?</h1>
                    <p class="text-gray-300">Enter your email and we'll send you a link to get back into your account.
                    </p>
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-control max-w-full">
                        <label class="label" for="email">Email</label>
                        <input class="input" type="email" name="email" id="email" formControlName="email">
                        <div class="feedback">
                            <base-error class="text-red-400" *ngIf="error">
                                {{error}}
                            </base-error>
                        </div>
                    </div>

                    <button type="submit" class="btn w-full mt-4 mb-2">
                        <ng-container [ngSwitch]="status">
                            <span role="status" *ngSwitchCase="'loading'">
                                <svg aria-hidden="true" class="animate-spin fill-white w-6 h-6 text-gray-600">
                                    <use href="/assets/svgs/spinner.svg#spinner" />
                                </svg>
                                <span class="sr-only">Loading...</span>
                            </span>
                            <i *ngSwitchCase="'success'" class="ai-check"></i>
                        </ng-container>
                        <span>Send Link</span>
                    </button>

                    <p><a routerLink="/admin/login" class="hover:text-bright-red-500 text-white transition">Back to
                            Login</a></p>
                </form>
            </div>
            <div class="" *ngIf="showConfirmation">
                <h2 class="text-h3 mb-4 leading-tight">Password reset email sent</h2>

                <p class="mb-4 text-gray-300">We've sent a link to your email. Please check your inbox for a password
                    reset link.</p>

                <p>
                    <button class="text-bright-red-500 hover:text-bright-red-100 transition" (click)="resetForm()">
                        I didn't receive an email
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>