<app-header></app-header>

<div class="min-h-screen">
    <div class="py-24">
        <h1 class="text-h2 mb-4 text-center">Book a session</h1>

        <div class="rounded-lg w-full max-w-xl px-12 pb-4 pt-10 mx-auto bg-gray-800 bg-opacity-50">
            <div class="" [formGroup]="bookingForm">
                <div class="flex items-center justify-between gap-4 mb-8">
                    <div class="relative">
                        <p class="text-center absolute -top-6 left-1/2 -translate-x-1/2 text-sm">Customer</p>
                        <span
                            class="text-h6 aspect-square border-bright-red-500 flex items-center justify-center h-12 border-4 rounded-full"
                            [class.bg-bright-red-500]="currentStep >= 1">1</span>
                    </div>

                    <hr class="border-bright-red-500 grow border-2">

                    <div class="relative">
                        <p class="text-center absolute -top-6 left-1/2 -translate-x-1/2 text-sm">Session</p>
                        <span
                            class="text-h6 aspect-square border-bright-red-500 flex items-center justify-center h-12 border-4 rounded-full"
                            [class.bg-bright-red-500]="currentStep >= 2">2</span>
                    </div>

                    <hr class="border-bright-red-500 grow border-2">

                    <div class="relative">
                        <p class="text-center absolute -top-6 left-1/2 -translate-x-1/2 text-sm">Requirements</p>
                        <span
                            class="text-h6 aspect-square border-bright-red-500 flex items-center justify-center h-12 border-4 rounded-full"
                            [class.bg-bright-red-500]="currentStep >= 3">3</span>
                    </div>

                    <hr class="border-bright-red-500 grow border-2">

                    <div class="relative">
                        <p class="text-center absolute -top-6 left-1/2 -translate-x-1/2 text-sm">Confirmation</p>
                        <span
                            class="text-h6 aspect-square border-bright-red-500 flex items-center justify-center h-12 border-4 rounded-full"
                            [class.bg-bright-red-500]="currentStep >= 4">4</span>
                    </div>
                </div>

                <div class="min-h-[25rem] relative">
                    <form [formGroup]="customerForm" (ngSubmit)="next('customer')" @changeSlide class="slide"
                        *ngIf="currentStep === 1">
                        <h1 class="text-h5 mb-8 text-center">Who are you booking for?</h1>

                        <div class="flex justify-center gap-8">
                            <ng-container *ngIf="customer_types.length; else skeleton">
                                <label class="cursor-pointer" for="customer_type-{{type.name}}"
                                    *ngFor="let type of customer_types">
                                    <input type="radio" name="customer_type" id="customer_type-{{type.name}}"
                                        [value]="type.id" class="peer sr-only" formControlName="customer_type">

                                    <div
                                        class="rounded-lg  peer-checked:-translate-y-4 peer-checked:outline-4 peer-focus-visible:outline-gray-100/10 outline-dashed peer-checked:outline-red-500 outline-0 transition relative">
                                        <img class="rounded-lg h-[13rem]" [src]="type.image" [alt]="type.name">
                                        <p class="text-center absolute -bottom-8 left-1/2 -translate-x-1/2">{{type.name
                                            | titlecase}}</p>
                                    </div>
                                </label>
                            </ng-container>
                            <ng-template #skeleton>
                                <div class="flex flex-col items-center gap-4 animate-pulse">
                                    <div class="size-52 bg-gray-500/20 rounded-lg"></div>
                                    <span class="h-5 w-20 rounded bg-gray-400/10"></span>
                                </div>
                                <div class="flex flex-col items-center gap-4 animate-pulse">
                                    <div class="size-52 bg-gray-500/20 rounded-lg"></div>
                                    <span class="h-5 w-20 rounded bg-gray-400/10"></span>
                                </div>
                            </ng-template>
                        </div>
                        <div class="feedback text-bright-red-500 mt-12">
                            <base-error *ngIf="errors.customer.customer_type">
                                {{errors.customer.customer_type}}
                            </base-error>
                        </div>

                        <div class="flex justify-end gap-2 mt-16">
                            <button type="button" class="btn btn-ghost bg-gray-600/10"
                                routerLink="/home">Cancel</button>
                            <button type="submit" class="btn">Next</button>
                        </div>
                    </form>

                    <form [formGroup]="sessionForm" (ngSubmit)="next('session')" @changeSlide class="slide"
                        *ngIf="currentStep === 2">
                        <h1 class="text-h5 mb-6">About The Session</h1>

                        <div class="form-control required">
                            <label class="label" for="date_booked">Session Date</label>
                            <input class="input" type="date" name="date_booked" id="date_booked"
                                formControlName="date_booked" [min]="minDate" required>

                            <div class="feedback">
                                <base-error *ngIf="errors.session.date_booked">
                                    {{errors.session.date_booked}}
                                </base-error>
                            </div>
                        </div>

                        <div class="form-control required">
                            <label class="label" for="time_booked">Session Time</label>
                            <input class="input" type="time" name="time_booked" id="time_booked"
                                formControlName="time_booked" required>

                            <div class="feedback">
                                <base-error *ngIf="errors.session.time_booked">
                                    {{errors.session.time_booked}}
                                </base-error>
                            </div>
                        </div>

                        <fieldset class="form-control required">
                            <legend class="label mb-4">Duration</legend>

                            <div class="flex flex-wrap gap-4">
                                <label for="duration-{{duration.value}}" class="cursor-pointer"
                                    *ngFor="let duration of durations">
                                    <input class="peer hidden" type="radio" name="duration_in_minutes"
                                        id="duration-{{duration.value}}" [value]="duration.value"
                                        formControlName="duration_in_minutes">
                                    <span
                                        class="peer-checked:bg-red-500 peer-checked:text-white inline-block px-4 py-2 text-red-500 transition border-2 border-red-500 rounded hover:bg-red-100/5">{{duration.label}}</span>
                                </label>
                            </div>

                            <div class="feedback">
                                <base-error *ngIf="errors.session.duration_in_minutes">
                                    {{errors.session.duration_in_minutes}}
                                </base-error>
                            </div>
                        </fieldset>

                        <div class="flex justify-end gap-2 mt-8">
                            <button class="btn btn-ghost bg-gray-600/10" type="button" (click)="back()">Back</button>
                            <button class="btn" type="submit">Next</button>
                        </div>
                    </form>

                    <form [formGroup]="requirementsForm" (ngSubmit)="next('requirements')" @changeSlide class="slide"
                        *ngIf="currentStep === 3">
                        <h1 class="text-h5 mb-6">Requirements</h1>

                        <div class="form-control required">
                            <label class="label" for="num_of_musicians">Number of Musicians</label>
                            <input class="input w-1/3" type="number" name="num_of_musicians" id="num_of_musicians"
                                formControlName="num_of_musicians" required>

                            <div class="feedback">
                                <base-error *ngIf="errors.requirements.num_of_musicians">
                                    {{errors.requirements.num_of_musicians}}
                                </base-error>
                            </div>
                        </div>

                        <fieldset class="form-control">
                            <legend class="label mb-4">Equipment Needed</legend>

                            <div class="rounded border border-gray-700 bg-gray-800 bg-opacity-75">
                                <table class="w-full">
                                    <tr class="border-b last-of-type:border-b-0 border-gray-700"
                                        *ngFor="let item of equipment_available | keyvalue">
                                        <td class="py-2 px-4">
                                            <lucide-icon [name]="item.value.icon" class="inline-block" size="16" />
                                            {{item.key}}
                                        </td>
                                        <td class="py-2 px-4">
                                            <div class="flex items-center justify-between gap-0.5 text-sm">
                                                <button
                                                    class="text-gray-300 rounded-full px-1 py-px hover:bg-gray-400/15 disabled:opacity-50"
                                                    type="button" (click)="updateEquipmentValue(item.key, 1)"
                                                    [disabled]="!item.value.limit"><i class="ai-plus"></i></button>
                                                <span>{{getEquipmentLimit(item.key)}}/{{item.value.limit}}</span>
                                                <button
                                                    class="text-gray-300 rounded-full px-1 py-px hover:bg-gray-400/15 disabled:opacity-50"
                                                    type="button" (click)="updateEquipmentValue(item.key, -1)"
                                                    [disabled]="!item.value.limit"><i class="ai-minus"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="feedback">
                                <base-error *ngIf="errors.requirements.equipment_needed">
                                    {{errors.requirements.equipment_needed}}
                                </base-error>
                            </div>
                        </fieldset>

                        <div class="form-control">
                            <label class="label" for="additional_requirements">Additional Requirements</label>
                            <textarea class="input resize-none" name="additional_requirements"
                                id="additional_requirements" cols="30" rows="5"
                                formControlName="additional_requirements"></textarea>

                            <div class="feedback">
                                <base-error *ngIf="errors.requirements.additional_requirements">
                                    {{errors.requirements.additional_requirements}}
                                </base-error>
                            </div>
                        </div>


                        <div class="flex justify-end gap-2 mt-8">
                            <button class="btn btn-ghost bg-gray-600/10" type="button" (click)="back()">Back</button>
                            <button class="btn" type="submit">Next</button>
                        </div>
                    </form>

                    <section @changeSlide class="slide flex items-center justify-center" *ngIf="currentStep === 4">
                        <div class="text-center">
                            <!-- <i class="ai-circle-check text-[4.5rem] text-bright-red-300"></i> -->

                            <h1 class="text-h4 mt-2 mb-4">Confirm Your Booking</h1>

                            <p class="mb-4">Please confirm your booking details below.</p>

                            <!-- <base-table [data]="bookingData"></base-table> -->

                            <div class="flex justify-end gap-2 mt-8">
                                <button class="btn btn-ghost bg-gray-600/10" type="button"
                                    (click)="back()">Back</button>
                                <button class="btn" (click)="toCheckout()">Proceed to checkout</button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>