<app-header></app-header>

<div class="min-h-screen">
    <div class="py-16">
        <h1 class="text-h2 mb-4 text-center">Book a session</h1>

        <div class="rounded-lg w-full max-w-xl px-12 pb-4 pt-10 mx-auto bg-gray-800 bg-opacity-50">
            <div class="" [formGroup]="bookingForm">
                <div class="flex items-center justify-between gap-4 mb-8" *ngIf="currentStep < 4">
                    <div class="relative">
                        <p class="text-center absolute -top-6 left-1/2 -translate-x-1/2 text-sm">Customer</p>
                        <span
                            class="text-h6 aspect-square border-bright-red-500 flex items-center justify-center h-12 border-4 rounded-full"
                            [class.bg-bright-red-500]="currentStep >= 1">1</span>
                    </div>

                    <hr class="border-bright-red-500 grow border-2">

                    <div class="relative">
                        <p class="text-center absolute -top-6 left-1/2 -translate-x-1/2 text-sm">Session</p>
                        <span
                            class="text-h6 aspect-square border-bright-red-500 flex items-center justify-center h-12 border-4 rounded-full"
                            [class.bg-bright-red-500]="currentStep >= 2">2</span>
                    </div>

                    <hr class="border-bright-red-500 grow border-2">

                    <div class="relative">
                        <p class="text-center absolute -top-6 left-1/2 -translate-x-1/2 text-sm">Requirements</p>
                        <span
                            class="text-h6 aspect-square border-bright-red-500 flex items-center justify-center h-12 border-4 rounded-full"
                            [class.bg-bright-red-500]="currentStep >= 3">3</span>
                    </div>
                </div>

                <div class="min-h-[25rem] relative">
                    <form [formGroup]="customerForm" (ngSubmit)="customerForm.valid && next(customerForm)" @changeSlide
                        class="slide" *ngIf="currentStep === 1">
                        <h1 class="text-h5 mb-8 text-center">Who are you booking for?</h1>

                        <div class="flex justify-center gap-8">
                            <ng-container *ngIf="customer_types.length; else skeleton">
                                <label class="cursor-pointer" for="customer_type-{{type.name}}"
                                    *ngFor="let type of customer_types">
                                    <input type="radio" name="customer_type" id="customer_type-{{type.name}}"
                                        [value]="type.id" class="peer hidden" formControlName="customer_type">

                                    <div
                                        class="rounded-lg overflow-hidden peer-checked:-translate-y-6 peer-checked:border-4 border-red-500 border-0 transition">
                                        <img class="mb-2 rounded-lg" [src]="type.image" [alt]="type.name">
                                        <p class="text-center">{{type.name | titlecase}}</p>
                                    </div>
                                </label>
                            </ng-container>
                            <ng-template #skeleton>
                                <div class="flex flex-col items-center gap-4 animate-pulse">
                                    <div class="size-52 bg-gray-500/20 rounded-lg"></div>
                                    <span class="h-5 w-20 rounded bg-gray-400/10"></span>
                                </div>
                                <div class="flex flex-col items-center gap-4 animate-pulse">
                                    <div class="size-52 bg-gray-500/20 rounded-lg"></div>
                                    <span class="h-5 w-20 rounded bg-gray-400/10"></span>
                                </div>
                            </ng-template>
                        </div>
                        <div class="feedback">
                            <base-error *ngIf="errors.customer.customer_type">
                                {{errors.customer.customer_type}}
                            </base-error>
                        </div>

                        <div class="flex justify-end gap-2 mt-8">
                            <button type="button" class="btn btn-outline" routerLink="/home">Cancel</button>
                            <button type="submit" class="btn" [disabled]="customerForm.invalid">Next</button>
                        </div>
                    </form>

                    <form [formGroup]="sessionForm" (ngSubmit)="sessionForm.valid && next(sessionForm)" @changeSlide
                        class="slide" *ngIf="currentStep === 2">
                        <h1 class="text-h5 mb-6">About The Session</h1>

                        <div class="form-control required">
                            <label class="label" for="date_booked">Session Date</label>
                            <input class="input" type="date" name="date_booked" id="date_booked"
                                formControlName="date_booked" [min]="minDate">

                            <div class="feedback">
                                <base-error *ngIf="errors.session.date_booked">
                                    {{errors.session.date_booked}}
                                </base-error>
                            </div>
                        </div>

                        <div class="form-control required">
                            <label class="label" for="time_booked">Session Time</label>
                            <input class="input" type="time" name="time_booked" id="time_booked"
                                formControlName="time_booked">

                            <div class="feedback">
                                <base-error *ngIf="errors.session.time_booked">
                                    {{errors.session.time_booked}}
                                </base-error>
                            </div>
                        </div>

                        <div class="flex justify-end gap-2 mt-8">
                            <button class="btn btn-outline" type="button" (click)="back()">Back</button>
                            <button class="btn" type="submit" [disabled]="sessionForm.invalid">Next</button>
                        </div>
                    </form>

                    <form [formGroup]="requirementsForm" (ngSubmit)="requirementsForm.valid && next(requirementsForm)"
                        @changeSlide class="slide" *ngIf="currentStep === 3">
                        <h1 class="text-h5 mb-6">Requirements</h1>



                        <div class="flex justify-end gap-2 mt-8">
                            <button class="btn btn-outline" type="button" (click)="back()">Back</button>
                            <button class="btn" type="submit" [disabled]="requirementsForm.invalid">Finish</button>
                        </div>
                    </form>

                    <section @changeSlide class="slide flex items-center justify-center" *ngIf="currentStep === 4">
                        <div class="text-center">
                            <i class="ai-circle-check text-[4.5rem] text-bright-red-300"></i>

                            <h1 class="text-h4 mt-2 mb-4">Your session has been booked</h1>

                            <p class="mb-8 leading-relaxed">
                                For more information, email us at <a
                                    class="text-bright-red-300">bawlplatt@studios.com</a> by or calling <a
                                    class="text-bright-red-300">(876)981-1201</a>.
                            </p>

                            <button class="btn" type="button" routerLink="/home">Okay</button>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>