<app-header></app-header>

<main class="min-h-screen flex items-center justify-center py-24">

    <div class="bg-gray-900 rounded-lg py-8 px-12 shadow w-full max-w-xl">
        <ng-container *ngIf="formMode === 'signup'">
            <div class="text-center mb-6">
                <h2 class="text-h2 mb-2">Create an account</h2>
                <p>Create an account with us today to start benefiting from our amazing services!</p>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #form="ngForm">
                <div class="form-control max-w-full">
                    <label class="label" for="email">Email</label>
                    <input class="input" type="email" name="email" id="email" formControlName="email" required />

                    <div class="feedback">
                        <base-error *ngIf="errors.email">
                            {{errors.email}}
                        </base-error>
                    </div>
                </div>

                <div class="flex max-md:flex-col gap-4 items-start">
                    <div class="form-control grow">
                        <label class="label" for="password">Password</label>
                        <input class="input w-full" type="password" name="password" id="password"
                            formControlName="password" required passwordToggle />
                        <div class="feedback">
                            <base-error *ngIf="errors.password">
                                {{errors.password}}
                            </base-error>
                        </div>
                    </div>

                    <div class="form-control grow">
                        <label class="label" for="confirm_password">Confirm Password</label>
                        <input class="input w-full" type="password" name="confirm_password" id="confirm_password"
                            formControlName="confirm_password" required confirmPasswordValidator passwordToggle />
                        <div class="feedback">
                            <base-error *ngIf="errors.confirm_password">
                                {{errors.confirm_password}}
                            </base-error>
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <button class="btn btn-primary w-full" type="submit" [disabled]="formStatus === 'loading'">
                        <app-status-indicator [status]="formStatus"></app-status-indicator>
                        Sign Up
                    </button>
                    <p class="text-gray-500 text-sm mt-2">By signing up, you agree to our <a
                            class="text-bright-red-300 hover:underline" routerLink="#">Privacy
                            Policy</a> and <a class="text-bright-red-300 hover:underline" routerLink="#">Terms of
                            Conditions</a>.</p>

                    <p class="mt-4"><a class="text-bright-red-300 hover:underline" routerLink="/login">
                            I already have an account</a></p>
                </div>

                <div class="text-divider text-gray-500 my-6">
                    or continue with
                </div>

                <div class="flex flex-wrap justify-center gap-3">
                    <button type="button"
                        class="inline-flex items-center gap-2 rounded border-2 transition-colors py-2 px-3 hover:bg-white/10"
                        (click)="handleSocialLogin('google')"><i class="ai-google-fill text-h5"></i>
                        Google</button>
                    <button type="button"
                        class="inline-flex items-center gap-2 rounded border-2 transition-colors py-2 px-3 hover:bg-white/10"
                        (click)="handleSocialLogin('facebook')"><i class="ai-facebook-fill text-h5"></i>
                        Facebook</button>
                </div>
            </form>
        </ng-container>

        <ng-container *ngIf="formMode === 'submitted'">
            <div>
                <form [formGroup]="verifyForm" class="text-center mb-6" (ngSubmit)="onVerify()">
                    <h2 class="text-h2 mb-4">Confirm Your Email</h2>
                    <p class="text-gray-300 mb-6">We have sent a code to your email.</p>

                    <div class="form-control mx-auto">
                        <label class="label" for="otp">Code</label>
                        <input class="input" type="text" name="otp" id="otp" required placeholder="000000" mask="000000"
                            formControlName="otp" />

                        <div class="feedback">
                            <base-error *ngIf="verifyErrors.otp">
                                {{verifyErrors.otp}}
                            </base-error>
                        </div>
                    </div>

                    <div class="mt-6 space-y-4">
                        <button class="btn btn-primary w-full" type="submit" [disabled]="formStatus === 'loading'">
                            <app-status-indicator [status]="formStatus"></app-status-indicator>
                            Verify
                        </button>
                        <p><button>Resend Code</button></p>
                        <p><button>Back</button></p>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>
</main>

<app-footer></app-footer>