<footer class="bg-brownish-gray border-bright-red-600 py-4 text-white border-t-4">
    <div class="container pt-12 mb-16">
        <div class="flex items-center justify-between">
            <a routerLink="/">
                <img class="h-[16px] w-[138px]" src="/assets/logo.svg" alt="logo">
            </a>

            <div class="flex gap-32">
                <ul class="space-y-4">
                    <li class="opacity-80 hover:text-bright-red-500 hover:opacity-100 transition">
                        <a routerLink="/home">Home</a>
                    </li>
                    <li class="opacity-80 hover:text-bright-red-500 hover:opacity-100 transition">
                        <a routerLink="/about">About Us</a>
                    </li>
                    <li class="opacity-80 hover:text-bright-red-500 hover:opacity-100 transition">
                        <a routerLink="/contact">Contact Us</a>
                    </li>
                </ul>

                <ul class="space-y-4">
                    <li class="opacity-80 hover:text-bright-red-500 hover:opacity-100 transition">
                        <a routerLink="/booking/new">Book Now</a>
                    </li>
                    <li class="opacity-80 hover:text-bright-red-500 hover:opacity-100 transition"><a
                            routerLink="/admin">Admins</a></li>
                    <!-- <li class="opacity-80 hover:text-bright-red-500 hover:opacity-100 transition"><a
                            href="javascript:void(0)">Privacy
                            Policy</a></li>
                    <li class="opacity-80 hover:text-bright-red-500 hover:opacity-100 transition"><a
                            href="javascript:void(0)">Terms and
                            Conditions</a></li> -->
                </ul>
            </div>

            <div>
                <h2 class="mb-2">Follow us on social media</h2>

                <ul class="text-h4 flex gap-4">
                    <li class="opacity-80 hover:text-red-500 hover:opacity-100 transition">
                        <a href="https://www.youtube.com" target="_blank">
                            <i class="ai-youtube-fill"></i>
                        </a>
                    </li>
                    <li class="opacity-80 hover:text-red-500 hover:opacity-100 transition">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="ai-facebook-fill"></i>
                        </a>
                    </li>
                    <li class="opacity-80 hover:text-red-500 hover:opacity-100 transition">
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="ai-instagram-fill"></i>
                        </a>
                    </li>
                    <li class="opacity-80 hover:text-red-500 hover:opacity-100 transition">
                        <a href="https://www.pinterest.com" target="_blank">
                            <i class="ai-pinterest-fill"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <p class="text-center">&copy; Copyright 2022. All Rights Reserved.</p>
</footer>