<footer class="py-12 text-white bg-black">
    <div class="container">
        <div class="flex items-center justify-between">
            <a routerLink="/">Bawlplatt Studios</a>

            <div class="flex gap-32">
                <ul class="space-y-2">
                    <li><a routerLink="/home">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/contact">Contact Us</a></li>
                </ul>

                <ul class="space-y-2">
                    <li><a routerLink="/dashboard">Admins</a></li>
                    <li><a href="javascript:void(0)">Privacy Policy</a></li>
                    <li><a href="javascript:void(0)">Terms and Conditions</a></li>
                </ul>
            </div>

            <div>
                <h2 class="mb-4">Follow us on social media</h2>

                <ul class="flex gap-2">
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>