<app-header></app-header>

<div class="min-h-screen bg-[url('/assets/images/login-bg.png')] bg-no-repeat bg-cover">
    <div class="place-items-center grid h-screen">
        <div class="w-full max-w-lg px-20 py-16 mt-4 text-center bg-gray-700 rounded-lg">
            <div class="" *ngIf="!urlError">
                <div class="mb-8">
                    <h1 class="text-h3 leading-tight">Reset your password</h1>
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-control max-w-full">
                        <label class="label" for="password">Password</label>
                        <input class="input" type="password" name="password" id="password" formControlName="password"
                            passwordToggle>
                        <div class="feedback">
                            <base-error class="text-red-400" *ngIf="errors.password">
                                {{errors.password}}
                            </base-error>
                        </div>
                    </div>
                    <div class="form-control max-w-full">
                        <label class="label" for="confirm_password">Confirm Password</label>
                        <input class="input" type="password" name="confirm_password" id="confirm_password"
                            formControlName="confirm_password" passwordToggle confirmPasswordValidator="password">
                        <div class="feedback">
                            <base-error class="text-red-400" *ngIf="errors.confirm_password">
                                {{errors.confirm_password}}
                            </base-error>
                        </div>
                    </div>

                    <button type="submit" class="btn w-full mt-4 mb-2">
                        <ng-container [ngSwitch]="status">
                            <span role="status" *ngSwitchCase="'loading'">
                                <svg aria-hidden="true" class="animate-spin fill-white w-6 h-6 text-gray-600">
                                    <use href="/assets/svgs/spinner.svg#spinner" />
                                </svg>
                                <span class="sr-only">Loading...</span>
                            </span>
                            <i *ngSwitchCase="'success'" class="ai-check"></i>
                        </ng-container>
                        <span>Confirm</span>
                    </button>

                    <p><a routerLink="/admin/login" class="hover:text-bright-red-500 text-white transition">Back to
                            Login</a></p>
                </form>
            </div>

            <div class="" *ngIf="urlError">
                <h1 class="text-h3 mb-4 leading-tight">Invalid URL</h1>
                <p class="mb-4 text-gray-300">{{urlError}}</p>
                <p>
                    <button class="btn" routerLink="/admin/forgot-password">
                        Try Again
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>