<app-header></app-header>

<div class="min-h-screen">
    <section class="hero-image h-screen relative">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-white">
            <h1 class="text-h1 max-w-lg mx-auto mb-6 leading-tight font-semibold">
                Get your music ready for the <span class="text-bright-red-600">world</span>
            </h1>

            <p class="max-w-[50ch] mx-auto leading-[1.75] text-center mb-8">
                Work with a group of talented musicians, experienced composers, and record producers to make your music
                a masterpeice.
            </p>

            <div class="flex gap-4 items-center justify-center">
                <a class="btn" routerLink="/booking/new">Book a session today</a>
            </div>
        </div>

        <div class="h-20 absolute inset-0 top-auto bg-gradient-to-b from-[#0a080800] to-almost-black"></div>
    </section>

    <section class="bg-almost-black py-32">
        <div class="container">
            <h2 class="text-center text-h3 mb-8 font-medium">We Have Worked With</h2>

            <div class="flex gap-8 align-baseline justify-center">
                <img src="" alt="Sony">
                <img src="" alt="Dolby">
                <img src="" alt="JBL">
                <img src="" alt="Tracks and Records">
            </div>
        </div>
    </section>

    <section class="bg-almost-black py-32">
        <div class="container">
            <h2 class="text-center text-h3 mb-16 font-medium">How we can help you</h2>

            <div class="grid grid-cols-2 gap-16 mb-32">
                <div class="py-12">
                    <h3 class="text-h4 leading-snug mb-4">Record your music in high quality</h3>
                    <hr class="border-b-2 border-bright-red-600 mb-6 w-2/3">
                    <p class="max-w-[50ch]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias
                        molestiae voluptate nesciunt
                        ea cum repudiandae est, delectus dolor quisquam natus.</p>
                </div>

                <img class="w-full h-[30rem] object-cover" src="/assets/images/home-feature-1.png" alt="">
            </div>

            <div class="grid grid-cols-2 gap-16 mb-32">
                <div class="py-12">
                    <h3 class="text-h4 leading-snug mb-4">Hear it in your own style</h3>
                    <hr class="border-b-2 border-bright-red-600 mb-6 w-2/3">
                    <p class="max-w-[50ch]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias
                        molestiae voluptate nesciunt
                        ea cum repudiandae est, delectus dolor quisquam natus.</p>
                </div>

                <img class="w-full h-[30rem] object-cover -order-1" src="/assets/images/home-feature-2.png" alt="">
            </div>

            <div class="grid grid-cols-2 gap-16">
                <div class="py-12">
                    <h3 class="text-h4 leading-snug mb-4">Meet with the masters</h3>
                    <hr class="border-b-2 border-bright-red-600 mb-6 w-2/3">
                    <p class="max-w-[50ch]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias
                        molestiae voluptate nesciunt
                        ea cum repudiandae est, delectus dolor quisquam natus.</p>
                </div>

                <img class="w-full h-[30rem] object-cover" src="/assets/images/home-feature-3.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="bg-almost-black py-32">
        <div class="container">
            <h2 class="text-center text-h3 mb-28 font-medium">What people have said about us</h2>

            <div class="grid grid-cols-3 gap-4 text-center">
                <div class="relative bg-zinc-900 rounded py-8 px-8 h-full flex flex-col">
                    <img class="h-20 aspect-square rounded-full absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2"
                        src="https://randomuser.me/api/portraits/women/22.jpg" alt="Elsie Frazier">

                    <p class="max-w-[50ch] mt-8 mb-6 mx-auto font-medium">"Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit"</p>

                    <p class="mt-auto">Elsie Frazier</p>
                    <span class="text-sm text-gray-400">Lead Singer - One World</span>
                </div>

                <div class="relative bg-zinc-900 rounded py-8 px-8 h-full flex flex-col">
                    <img class="h-20 aspect-square rounded-full absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2"
                        src="https://randomuser.me/api/portraits/men/81.jpg" alt="Ben Reynolds">

                    <p class="max-w-[50ch] mt-8 mb-6 mx-auto font-medium">"Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Voluptas, neque"</p>

                    <p class="mt-auto">Ben Reynolds</p>
                    <span class="text-sm text-gray-400">Drummer - Perfecct</span>
                </div>

                <div class="relative bg-zinc-900 rounded py-8 px-8 h-full flex flex-col">
                    <img class="h-20 aspect-square rounded-full absolute top-0 left-1/2 -translate-x-1/2 -translate-y-1/2"
                        src="https://randomuser.me/api/portraits/men/34.jpg" alt="Edgar Larson">

                    <p class="max-w-[50ch] mt-8 mb-6 mx-auto font-medium">"Lorem, ipsum dolor sit amet consectetur
                        adipisicing"</p>

                    <p class="mt-auto">Edgar Larson</p>
                    <span class="text-sm text-gray-400">Lead Singer - One Man Army</span>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-[url('/assets/images/home-end.png')] bg-no-repeat bg-cover py-12 mt-24">
        <div class="container py-8 text-center bg-almost-black bg-opacity-90 min-h-[50vh] grid place-content-center">
            <h1 class="text-h3 font-medium mb-2">Book a session today</h1>

            <p class="mx-auto max-w-prose mb-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, sed.
            </p>

            <a routerLink="/booking/new" class="btn w-1/2 mx-auto">Book Now</a>
        </div>
    </section>
</div>

<app-footer></app-footer>