<aside class="bg-almost-black h-full">
    <nav class="sticky top-0 left-0 flex flex-col h-screen px-4 py-8">
        <a class="mb-10 text-center" routerLink="/">
            <img class="inline-block h-[16px] w-[138px] scale-110" src="/assets/logo.svg" alt="logo">
        </a>


        <ul class="flex flex-col mb-auto space-y-2">
            <ng-container *ngFor="let item of menuItems">
                <li *ngIf="item.roles.includes(user?.user_metadata['roles']?.title )"><a
                        class="font-heading hover:bg-gray-900 flex items-center w-full gap-3 px-6 py-1.5 rounded transition-colors"
                        [routerLink]="item.path" routerLinkActive="!bg-bright-red-500">
                        <i class="text-h5 {{item.icon}}"></i>
                        {{item.name}}
                    </a></li>
            </ng-container>
        </ul>

        <a class="hover:bg-gray-900 flex items-center w-full gap-3 px-4 py-1.5 rounded" routerLink="profile"
            routerLinkActive="!bg-bright-red-500" *ngIf="user">
            <img class="aspect-square object-cover h-10 rounded-full" [src]="profileImage"
                [alt]="user.user_metadata['name']">
            <span class="max-w-[10ch] overflow-hidden">{{user.user_metadata['name']}}</span>
        </a>
        <a class="hover:bg-gray-900 inline-flex items-center justify-between gap-2 px-4 py-2 rounded mt-2"
            href="javascript:void(0)" (click)="logout()">
            Logout
            <i class="text-h5 ai-door"></i>
        </a>

    </nav>
</aside>