<aside class="bg-almost-black h-full">
    <nav class="sticky top-0 left-0 flex flex-col h-screen px-4 py-8">
        <a class="mb-10 text-center" routerLink="/">
            <img class="inline-block h-[16px] w-[138px] scale-110" src="/assets/logo.svg" alt="logo">
        </a>


        <ul class="flex flex-col mb-auto space-y-2">
            <li><a class="hover:bg-gray-900 inline-flex items-center w-full gap-3 px-8 py-2 rounded"
                    routerLink="bookings" routerLinkActive="bg-bright-red-500">
                    <i class="text-h5 ai-book-open"></i>
                    Bookings
                </a></li>
            <li><a class="hover:bg-gray-900 inline-flex items-center w-full gap-3 px-8 py-2 rounded"
                    routerLink="history" routerLinkActive="bg-bright-red-500">
                    <i class="text-h5 ai-clock"></i>
                    History
                </a></li>
            <li><a class="hover:bg-gray-900 inline-flex items-center w-full gap-3 px-8 py-2 rounded"
                    routerLink="profile" routerLinkActive="bg-bright-red-500">
                    <i class="text-h5 ai-person"></i>
                    Profile
                </a></li>
        </ul>

        <span class="inline-flex items-center gap-3 pl-4 mb-2" *ngIf="user">
            <img class="aspect-square object-cover h-10 rounded-full" [src]="user.user_metadata['photo']"
                [alt]="user.user_metadata['first_name']">
            <span class="max-w-[10ch] overflow-hidden">{{user.user_metadata['first_name']}}</span>
        </span>
        <a class="hover:bg-gray-900 inline-flex items-center justify-between gap-2 px-4 py-2 rounded"
            href="javascript:void(0)" (click)="logout()">
            Logout
            <i class="text-h5 ai-door"></i>
        </a>

    </nav>
</aside>