@import "simple-notify/dist/simple-notify.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :is(input, select, textarea):focus {
        --tw-ring-color: theme(colors.bright-red.600) !important;
    }
}

@layer components {
    :is(h1, h2, h3, h4, h5, h6) {
        @apply font-heading;
    }

    /* Buttons */
    .btn {
        @apply bg-bright-red-600 hover:bg-bright-red-400 inline-flex items-center justify-center gap-2 px-4 py-3 tracking-wide text-center text-white transition rounded cursor-pointer shadow;
    }
    .btn-outline {
        @apply bg-transparent text-current outline-2 outline-bright-red-500 outline outline-offset-[-2px] hover:bg-gray-600 hover:bg-opacity-25;
    }
    .btn:disabled {
        @apply bg-gray-600 cursor-default;
    }

    /* Form Controls */
    .form-control {
        @apply grid w-full max-w-xs gap-1 mb-6 text-white;
    }

    label.label {
        @apply w-fit;
    }
    .form-control.required .label::after {
        @apply content-['*'] text-red-500;
    }

    :is(input, select, textarea).input,
    ng-select.ng-select.select .ng-select-container {
        @apply border-0 px-6 py-3 bg-gray-800 bg-opacity-75 rounded text-white;
    }

    ng-select.ng-select.select .ng-value-container {
        @apply !pl-0;
    }

    ng-select.ng-select.select .ng-select-container {
        @apply border-0 min-h-[auto] h-auto;
    }
    ng-select.ng-select.select .ng-input {
        @apply !top-1/2 -translate-y-1/2 !pl-6;
    }

    .form-control .feedback {
        @apply text-bright-red-600 relative text-left isolate overflow-hidden;
    }
    .form-control .feedback:has(base-error) {
        @apply h-5;
    }
    .form-control .feedback base-error {
        @apply -z-10 absolute top-0 left-0 text-sm;
    }

    /* Breadcrumbs */
    .breadcrumbs {
        @apply flex items-center gap-2 mb-4 text-gray-400;
    }
    .breadcrumbs a {
        @apply hover:underline hover:text-gray-100 transition;
    }

    /* Table */
    div:has(.dashboard-table) {
        @apply overflow-x-auto;
    }

    .dashboard-table {
        @apply overflow-x-auto w-full my-0 align-middle border-neutral-200;
    }
    .dashboard-table thead {
        @apply align-bottom;
    }
    .dashboard-table thead tr {
        @apply font-medium text-sm text-gray-400;
    }
    .dashboard-table thead th {
        @apply whitespace-nowrap uppercase text-start px-2.5 py-2;
    }

    .dashboard-table tbody {
        @apply divide-y-2 divide-gray-800 bg-gray-900;
    }
    .dashboard-table tbody td {
        @apply px-2.5 py-4 whitespace-nowrap text-gray-100 font-medium text-[0.9rem];
    }

    .dashboard-table :is(thead, tbody) :is(th, td):first-child {
        @apply pl-6;
    }

    /* Badges */
    .badge {
        @apply inline-block whitespace-nowrap tracking-wider rounded bg-blue-900 text-white uppercase px-2 py-1 text-center align-baseline text-sm leading-none;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
}

:is(h1, h2, h3, h4, h5, h6) {
    @apply text-white;
}
