<app-header></app-header>

<div class="min-h-screen bg-[url('/assets/images/login-bg.png')] bg-no-repeat bg-cover">
    <div class="place-items-center grid h-screen">
        <div class="w-full max-w-lg px-20 py-16 mt-4 text-center bg-gray-700 rounded-lg">
            <h1 class="text-h3 mb-6 leading-tight">Log into your account</h1>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-control max-w-full">
                    <label class="label" for="email">Email</label>
                    <input class="input" type="email" name="email" id="email" formControlName="email">

                    <div class="feedback">
                        <base-error class="text-red-400" *ngIf="errors.email">
                            {{errors.email}}
                        </base-error>
                    </div>
                </div>

                <div class="form-control max-w-full">
                    <div class="flex items-baseline justify-between">
                        <label class="label" for="password">Password</label>
                    </div>
                    <input class="input" type="password" name="password" id="password" formControlName="password">

                    <div class="feedback">
                        <base-error class="text-red-400" *ngIf="errors.password">
                            {{errors.password}}
                        </base-error>
                    </div>
                </div>

                <button type="submit" class="btn w-full mt-4 mb-2">

                    <ng-container [ngSwitch]="status">
                        <div role="status" *ngSwitchCase="'loading'">
                            <svg aria-hidden="true" class="animate-spin fill-white w-6 h-6 text-gray-600">
                                <use href="/assets/svgs/spinner.svg#spinner" />
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                        <i *ngSwitchCase="'success'" class="ai-check"></i>
                    </ng-container>
                    <span>Login</span>
                </button>

                <p><a routerLink="/admin/forgot-password" class="hover:text-bright-red-500 text-white transition">Forgot
                        your
                        password?</a></p>
            </form>
        </div>

    </div>
</div>

<app-footer></app-footer>